body{
    background-image:url("billeder/baggrund.png") ;
    color:#1e73be
    ;
}

.nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.nav ul {
display: flex;
flex-direction: row;
justify-content: space-evenly;
gap: 30px;
  

}

li {
        list-style-type:none;   /* fjerner prikken */  
    }

.hero__image{ /*W3 school Hero */
    background-image:url(billeder/hero_image.jpg);
    background-position: center;
    background-size: cover;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 300px;
    padding-top: 300px;
    border-top: #ffe802;
    padding-right: 50px;
    padding-left: 50px;
    
}


.overskrift{

    font-size: 66px;
    border-top: solid 10px;
    border-color: #ffe802; /* w3 school*/
    margin-left:30px;
    margin-right: 30px;
    color:#ffe802;
    padding: 0;
}


.overskrift__tekst{
    
    font-size: 48px;
    font-weight: lighter;
    margin-left:30px;
    margin-right:30px;
    padding:0;
    color:#ffe802;
}

.main__section__fordele{
    display: flex;
    font-size: 48px;
    padding-right: 50px;
    padding-left: 50px;
    color:#ffe802;
    }

.main__section__tekst{
    font-size: 28px;
    color: white;
    padding-right: 50px;
    padding-left: 50px;

}
.main__section__kontakt{
    display: flex;
    font-size: 48px;
    padding-right: 50px;
    padding-left: 50px;
    color:#ffe802;
    
}


.footer__container{
   display: flex;
   background-color: #1e73be;
   color: #ffffff;
   font-size: 50px;
   padding: 0;

   margin: 0;
}